h1{color: FireBrick;}
html{ font-family: Times New Roman;}
p{color: Sienna; font-size: 25px;}
li{font-size: 35px;} 
.header{color: Sienna; background-color: #f1f1f1; text-align: center; padding: 20px;}
.thucdon{background-color: #333}
.thucdon a{background-color: #332}
.thucdon a: hover{color: FireBrick; padding: 10px;}
