h1{color: FireBrick;}
html{ font-family: Times New Roman;}
p{color: Sienna; font-size: 25px;}
li{font-size: 35px;} 
.header{color: PaleVioletRed; background-color: #fff0f5; text-align: center; padding: 20px;}
.thucdon{background-color: #ffb6c1;display: block;text-align: center;}
.thucdon a{background-color: #ffb6c1;text-align: center; }
.thucdon a: hover{color: Cornsilk; padding: 50px;margin: 30px;}
.noidung{background:#fff5ee;}
